# --------------------
# 가상환경
# --------------------
.venv/
venv/
ENV/
env/

# --------------------
# Python 기본 캐시
# --------------------
__pycache__/
*.py[cod]
*$py.class

# --------------------
# Jupyter Notebook 체크포인트
# --------------------
.ipynb_checkpoints/

# --------------------
# macOS, Windows 시스템 파일
# --------------------
.DS_Store
Thumbs.db

# --------------------
# 기타
# --------------------
*.log
*.sqlite3
